// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
:root {
    --ion-background-color:#151e29;
    --ion-toolbar-color:#cbced2;
    --ion-text-color:#fff;
}
:host{
	--ion-text-color:#fff;
	--color:#fff;
}

ion-menu .dark{
	--ion-background-color:#0b0e11;
}
ion-icon{
	--ion-text-color-rgb:#1B5794;
}
ion-togle {
  background:#fff !important;
}
/*ion-content{

    --ion-background-color:#111D12;
}
body {
    background: #111D12;
}
:root {
    --ion-background-color:#111D12;
}
ion-header ion-toolbar {
    --background:#111D12;
    }*/