<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Server addres</ion-label>
  <ion-input type="text" name="serveAddress" [(ngModel)]="{{serveAddress}}"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle [(ngModel)]="darkMode"></ion-toggle>
  </ion-item>
</ion-content>

 <ion-footer>
    <ion-toolbar>
      <ion-button expand="full outline" click="saveData">Save</ion-button>
    </ion-toolbar>
  </ion-footer>
